@model  GallowayWeather.ViewModels.WeatherViewModel
@{
    ViewBag.Title = "GallowayWeather";
}
<style>
    ul li {
        display: inline-block;
        border: 1px solid black;
    }
</style>
<div>
    <h1>GallowayWeather</h1>
    @using (Html.BeginForm())
    {
        <div class="form-group">
            <label for="searchtext">Criteria:</label><input id="searchtext" type="text" size="50" class="form-control" /><img id='spinner' name='spiner' src='~/images/gears.gif' height="20" width="20" />
        </div>
        <div class="form-group">
            <label for="lstResults">Results:</label>@Html.DropDownList("lstResults", new List<SelectListItem>{
                    new SelectListItem{ Text="Perth", Value = "26797" }}, new { @class = "form-control" }
                    )
        </div>
        <div class="form-group">
            <label for="lstUnitType">Temp Unit:</label>@Html.DropDownList("lstUnitType", new List<SelectListItem>{
                        new SelectListItem{ Text="Metric", Value="Metric" },
                        new SelectListItem{Text="Imperial", Value="Imperial"}
                    }, new { @class = "form-control" })
            <input id="btnGetWeather" type="submit" value="Get Weather" class="btn btn-default"/>
       </div>
    }
    <br />
    <ul>
    @foreach (var item in Model.WeatherResults)
    {
        <li>
            @item.LocalObservationDateTime<br />
            @item.LocationText<br />
            <img src=/Images/Icons/@item.Icon-s.png /><br />
            @item.Text<br />
            @item.Temp<br />
            @item.DateCreated<br />
        </li>
    }
    </ul>
</div>