@model  GallowayWeather.ViewModels.WeatherViewModel
@{
    ViewBag.Title = "GallowayWeather";
}

<div>
    <h1>GallowayWeather</h1>
    @using (Html.BeginForm())
    {
        <fieldset>
            Criteria: <input id="searchtext" type="text" size="50" /><img id='spinner' name='spiner' src='~/images/gears.gif' height="20" width="20" /><br />

            Results: @Html.DropDownList("lstResults", new List<SelectListItem>{
                    new SelectListItem{ Text="Perth", Value = "26797" }}
                    )<br />
            Temp Unit: @Html.DropDownList("lstUnitType", new List<SelectListItem>{
                        new SelectListItem{ Text="Metric", Value="Metric" },
                        new SelectListItem{Text="Imperial", Value="Imperial"}
                    })<br />
            <input id="btnGetWeather" type="submit" value="Get Weather" />
        </fieldset>
    }
    <div>@Model.WeatherLocation</div>
    <div><img src="@Model.WeatherIcon"</div>
    <div>@Model.WeatherText</div>
    <div>@Model.WeatherTemp</div>

</div>